body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 

body {
  margin: 0;
  font-family: monospace;
}

.card {
  width: 200px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 15rem;
  height: 25rem;
  display: inline-grid;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #e04b52;
  text-align: center;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
  height: 100%;
}

nav {
  display: flex;
  padding-left: 20px; /* Adjust the value to control the left padding */
}

/* CSS for individual buttons in the NavBar */
nav button {
  padding: 10px; /* Add padding for all sides */
  margin-right: 10px; /* Add margin between buttons */
}

button {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  margin-right: 10px;
  position: relative;
  background-color: #e04b52;
  border: none;
  border-radius: 5px;
  height: 3rem;
  width: max-content;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
}

button:hover {
  background-color: whitesmoke;
  border: #e04b52 solid 1px;
  color: #e04b52;
}

header {
  padding-left: 20px;
}

h1 {
  padding-left: 20px; /* Adjust the value as needed */
}
/* Styles for light mode */
.light-mode {
  background-color: white;
  color: black;
}

.light-mode button {
  background-color: #f0f0f0;
  color: black;
}

.light-mode header {
  background-color: #f0f0f0;
  color: black;
}

/* Styles for dark mode */
.dark-mode {
  background-color: #121212;
  color: white;
}

.dark-mode button {
  background-color: #333;
  color: white;
}


.dark-mode header {
  background-color: #121212;
  color: white;
}

.container {
  padding: 1rem;
  width: stretch;
  height: auto;
  display: none;
  background: #515DA2;
  opacity: .8;
}

.submit {
  position: relative;
  background-color: #e04b52;
  border-radius: 5px;
  height: 2rem;
  width: max-content;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
  font-family: monospace;
  margin: 3px;
}

.submit:hover {
  background-color: whitesmoke;
  border: #e04b52 solid 1px;
  color: #e04b52;
}


.input-text {
  border-radius: 5px;
  height: 2rem;
  width: 60%;
  font-size: 18px;
  font-family: monospace;
  margin: 3px;
}

